body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

#map {
    height: 600px;
    width: 800px;
}

.salutation {
    font-size: 25px;
    font-weight: bold;
}

#screen{
    display:flex;
    margin: 40px;
    justify-content: space-around;
}

#upperPart h1{
    margin: 0 auto;
    font-size:  200%;
}

#standsList{
    display: flex;
    flex-direction: column;
    /*     justify-content: space-around; */
}

#usersBtn{
    margin: 0 auto;
}

#rightPart{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

#lowerPart{
    margin: 0 auto;
}

table{
    text-align: center;
}

input{
    text-align: center;
}

table a:link, a:visited{
    color: red;
}

table{
    width: 100%;
}

#usersList h1{
    padding-left:200px;
}