<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

    <link th:href="@{/css/AdminLogin.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

    <div class="navbar-start">
        <a th:href="@{/}">
            <h1 class="navbar-item salutation">
            CYCLEWALE
        </h1>
        </a>
    </div>
</nav>

<div class="flex-container">
    <div class="column is-3">

<form id="login" th:action="@{/login}"  method="post">

    <div class = "field" height = "32">
        <div class = "notification is-danger is-light" th:if="${param.error}" >
            <button class="delete"></button>
            <span class="icon is-small is-left">
						<i class="fa fa-exclamation-triangle"></i>
					</span>
            Invalid Credentials.
        </div>
    </div>

    <div class = "field" height = "32">
        <div class = "notification is-success is-light" th:if="${param.loggedout}" >
            <button class="delete"></button>
            <span class="icon is-small is-left">
						<i class="fa fa-check-square"></i>
					</span>
            Logged out successfully.
        </div>
    </div>

    <div class="field">
        <label for="email">Email</label>
        <div class="control has-icons-left">
            <input class="input" type="text" id="email" name="email" required/>
            <span class="icon is-small is-left">
					<i class="fa fa-envelope"></i>
					</span>
        </div>
    </div>

    <div class="field">
        <label for="password">Password</label>
        <div class="control has-icons-left">
            <input class="input" type="password" id="password" name="password" required minlength="8"/>
            <span class="icon is-small is-left">
					<i class="fa fa-lock"></i>
					</span>
        </div>
    </div>

    <br>
    <button type="submit" class="label button submit_btn">Log in</button>

</form>
    </div>
</div>
</body>
</html>