<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

    <link rel="stylesheet" href="/css/WelcomePage.css" />
    <title>Cycle wale</title>
  </head>
  <body>

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">

      <div class="navbar-start">
        <h1 class="navbar-item salutation">
          CYCLEWALE
        </h1>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a th:href="@{/adminlogin}" class="button is-light">
            <i class="fa fa-user-circle" aria-hidden="true" style="padding-right: 6px;"></i> Admin
          </a>
        </div>
      </div>

    </nav>

    <div class="landing-inner">
      <h1 class="x-large">RENT A CYCLE</h1>
      <p class="lead">
        Take a step towards environment friendly lifestyle
      </p>
      <div>
        <a th:href="@{/login}" class="button">Lets Go !</a>
      </div>
    </div>

  </body>
</html>
